@tailwind base;
@tailwind components;
@tailwind utilities;
/* Scroll horizontal tables (Domain Checker) */
.scroll-x {
  overflow-x: auto;
}

.scroll-x::-webkit-scrollbar {
  height: 8px;
}

.scroll-x::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

